{% extends "base.html" %}

{% block hero %}
  <div id="hero" class="px-4 py-5 text-center">
    <h1 class="display-1 text-body-emphasis">Welcome!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 fw-bold">Ready for a sip surfing on the cloud?</p>
    </div>
  </div>
{% endblock %}

{% block body %}
<div class="row">
<!-- ===================== CAFE CARDS ====================== -->
  <div class="offset-md-4 col-md-4 px-md-5">
    <ul class="list-unstyled">
      <!--   Goes through a for loop checking from which to which entry it should render cards (divided in 10 cards pages).
      Fully automated. In case there would be more than 10 new entries in the last page, a new page will be created   -->
      {% for cafe in cafe_list[(request.path.strip('/')|int-1)*10:request.path.strip('/')|int*10-1] %}
      <li>
        <div class="mx-3 mx-md-0 d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 text-decoration-none border-top">
          <!-- Image Column -->
          <div class="col-12 col-lg-4">
            <img src="{{ cafe.img_url }}" class="img-fluid w-100" style="border-radius: 0;" alt="Cafe Image">
          </div>
          <div class="col-lg-6" style="text-align: left">
            <a target="_blank" href="{{cafe.map_url}}" class="cafe-link"><h6 class="mb-0">{{cafe.name}}</h6></a>
            <small class="text-body-secondary">{{cafe.location}}</small>
            <div class="mt-4">
              {% if cafe.has_toilet == 1 %} <i class="bi bi-badge-wc" style="color: #32CD32"></i> {% else %} <i class="bi bi-badge-wc" style="color: red"></i> {% endif %}
              {% if cafe.has_wifi == 1 %} <i class="bi bi-wifi" style="color: #32CD32"></i> {% else %} <i class="bi bi-wifi-off" style="color: red"></i> {% endif %}
              {% if cafe.has_sockets == 1 %} <i class="bi bi-plug" style="color: #32CD32"></i> {% else %} <i class="bi bi-plug" style="color: red"></i> {% endif %}
              {% if cafe.can_take_calls == 1 %} <i class="bi bi-telephone" style="color: #32CD32"></i> {% else %} <i class="bi bi-telephone" style="color: red"></i> {% endif %}
            </div>
          </div>
          <div class="col-lg-3">
            <i class="bi bi-people"></i> {{cafe.seats}}
            <div><i class="bi bi-cup-hot"></i> {{cafe.coffee_price}} </div>
          </div>
          <!-- EDIT/DELETE -->
          {% if current_user.is_authenticated %}
            <div>
              {% if current_user.id == cafe.author_id or current_user.id == 1 %}
                <a type="button" href="{{url_for('edit', _id=cafe.id)}}"><i class="bi bi-pencil-square btn"></i></a>
                <a class="ms-md-3" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmation{{cafe.id}}"><i class="bi bi-trash3 delete-btn"></i></a>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <!-- =========================== MODAL ================================ -->
        <div class="modal modal-fade" tabindex="-1" role="dialog" id="deleteConfirmation{{cafe.id}}">
          <div class="modal-sheet d-block p-4 py-md-5 center-v">
            <div class="modal-dialog">
              <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                  <h5 class="mb-0">Warning</h5>
                  <p class="mb-0">Are you sure you want to delete this entry?</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                  <a type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end delete-btn" href="{{url_for('delete', _id=cafe.id)}}"><strong>Delete</strong></a>
                  <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    <!-- ====================== PAGINATION ======================= -->
    </ul>
    <div class="center-items">
      <ul class="pagination">
        <li class="page-item {% if request.path.strip('/')|int == 1 %} disabled {% endif %}">
          <a class="page-link" href="{{url_for('index_home')}}">&laquo;</a>
        </li>
        {% for n in range(1, cafe_list|length//10+2) %}
          <li class="page-item {% if request.path.strip('/')|int == n %} active {% endif %}">
            <a class="page-link" href="{{url_for('index_home', index=n)}}">{{ n }}</a>
          </li>
        {% endfor %}
        <li class="page-item">
          <a class="page-link {% if request.path.strip('/')|int == cafe_list|length//10+1 %} disabled {% endif %}" href="{{url_for('index_home', index=cafe_list|length//10+1)}}">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}